@import url(//fonts.googleapis.com/css?family=Lato:300:400);
/*
body {
    margin: 0;
}
*/
/*
.card {
    color: white;
    background-color: rgba(199, 67, 67, 0.349);
}
*/
/*
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #000;
    border-color: #dee2e6 #dee2e6 #fff;
}
*/
/*
.text-warning:active{
    color: white!important;
}
*/
/*
.tab-content {
    background-color: black;
}
*/
/*
.text-muted {
    color: white;
}
*/

.img-display {
    width: 36px !important;
    height: 36px !important;
    
    padding: 0;
    margin-left:0rem;
    margin-bottom: 0.25rem;
    background-color: inherit;
}
/*
.logo {
    width: 50px;
    fill: white;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
}
*/
/*
.inner-header {
    height: 65vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
*/

.header-text{
    font-family: 'Pacifico', cursive;
    text-align: center;
}

.icon{
    width: 49px;
    height: 49px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.hdr{
    display: flex;
    justify-content: center;
    align-items: center;
}
